body {
    background-color: white;
    text-align: center;
    font-family: 'Nunito', serif;
    overflow-x: hidden;
}

#header {
    position: relative;
    width: 1350px;
    margin: auto;
    margin-bottom: 200px;
    margin-top: 100px;
    text-align: left;
    margin-left: 300px;
}

#header h1 {
    font-weight: 900;
    font-size: 36pt;
    color: #444;
}

#main-title{
    font-size: 48pt;
    font-weight: 800;
    color: #666666;
    margin-bottom: 0;
}


#sub-title{
    font-size: 24pt;
    font-weight: 200;
    color: #666666;
    margin-top: 0;
    margin-bottom: 60px;
}

#sub-title span{
    font-size: 19pt;
    font-weight: 300;
    color: #6f6f6f;
}

#desc-1, #desc-2{
    width: 50%;
    font-weight: 300;
    font-size: 14pt;
    line-height: 1.5em;
    color: #555;
}



#title-years{
    font-size: 14pt;
    font-weight: 800;
    color: #666666;
}

#legend{
    margin-top: 60px;
    margin-bottom: 0px;
    position: relative;
    left: -60px;
}

#big-percentage {
    font-size: 24pt;
    font-weight: 800;
    color: #666666;
    line-height: 1.3em;
    margin-top: 180px;
}

#big-statistics {
    font-size: 18pt;
    font-weight: 200;
    color: #666666;
    margin-top: 36pt;
    line-height: 1.5em;
}

#big-statistics .b-stats {
    font-weight: 400;
}


#holder {
    position: relative;
    width: 1350px;
    margin: auto;


}

#wrapper {
    overflow: hidden;
}



#lens {
    position: absolute;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
}

#marker {
    position: absolute;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}

#marker div {
    background-color: black;
    width: 4px;
    height: 10px;
    margin: auto;
    margin-top: 5px;
}

#footer {
    height: 500px;
    margin-top: 100px;
    text-align: left;
}

.button-years {
    background-color: #E6E6E6;
    color: #999999;
    cursor: pointer;
    font-weight: 900;
    font-size: 16pt;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    margin-right: 5px;
}

.button-years:hover {
    color: black;
}

.button-years.selected {
    background-color: #4D4D4D;
    color: #F2F2F2;
}

.button-info{
    background-color: #E6E6E6;
    color: #999999;
    cursor: pointer;
    font-weight: 900;
    font-size: 16pt;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    margin-right: 5px;
    text-decoration: none;
}

.button-info:hover {
    color: black;
    font-weight: 900;
}

#loading {
    position: absolute;
    top: 322px;

    font-weight: 900;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 7px;
    background-color: #E6E6E6;
    font-size: 10pt;

    animation-name: loading-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}



@keyframes loading-animation {
    0% {
        background-color: #E6E6E6;
        color: #000
    }

    100% {
        background-color: #999999;
        color: #000
    }
}


#races-holder {
    text-align: left;
    width: 1350px;
    margin: auto;

}

.race-info {
    font-size: 11pt;
    height: 100px;
    width: 125px;
    display: inline-block;
    margin-left: 10px;
    font-weight: 700;
    color:#444;
    line-height: 1.3em;
}

.v-mark{
  
    border-radius: 7px;
    display: inline-block;
    width: 4px;
    height: 14px;
    margin-right: 3px;
    position: relative;
    bottom: -1.5px;

}